html {
    background-color: black;
}

div {
    color: gold;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-left: 25%;
    width: 50%;
    margin-top: 2%;
    font-size: 150%;
}

img {
    width: 100%;
    border: 5px solid yellow;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0;
}

p {
    padding-top: 10;
    color: white
}
